<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mutwakilmo.go4lunch">
    <!-- The following permissions are required when using HERE Location Services (HLS) in your application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatActivity"></activity>

        <meta-data
            android:name="com.here.sdk.access_key_id"
            android:value="09QP8fquvEk0I4JX8Qicpg" />
        <meta-data
            android:name="com.here.sdk.access_key_secret"
            android:value="AQtR21UKZ1o2pRD7GO8PaVYf2dAAIYF7QW6DLs-mChX1vq7nRfJvDFPq-64RRsRxGrIrpV1GrX1dqAIPBBdaSA" />

        <activity android:name=".MainScreen" /> <!-- OnBoarding ACTIVITY -->
        <activity
            android:name=".OnBoardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- Splash ACTIVITY -->
        <activity
            android:name=".SplashLunchActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Profile ACTIVITY -->
        <activity
            android:name=".ProfileActivity"
            android:label="@string/toolbar_title_login_activity" /> <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoTitle"> <!-- DISABLE TOOLBAR IN MAIN ACTIVITY -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>